/*--------------------root-------------------*/
*{
  margin: 0px;
  padding: 0px;
}
body{
  /* background-image: linear-gradient(#bdc2c9, #071a3a); */
  /* background-image: url(../images/login-back.jpg); */
  background-size: cover;
  background-position: center;
  opacity: 0.9;
}
.container{
  background-color: blue;
}
.page1 img{
  height: 100px;
  width: 100px;
  border-radius: 50px;
  border: 3px solid #ffff;

}
/* ----------------------------------------------------------------------- */
.second,.third{
  display:none;
}
