/*--------------------root-------------------*/
*{
  margin: 0px;
  padding: 0px;
}
body{
  /* background-image: linear-gradient(#bdc2c9, #071a3a); */
   background-image: url(../images/login-back.jpg);
   background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */

  opacity: 0.9;
}
.container{
  background-color:#4f5d7a;
  opacity: .9;
  -margin-top: 40px;

}
.details,.first{
  /* background-color:#4f5d7a; */
  /* height: 100%; */
}
 img{
  height: 100px;
  width: 100px;
  border-radius: 50px;
  border: 3px solid #ffff;

}
/* ----------------------------------------------------------------------- */
p{
  height: 300px;
  text-align: center;
  padding: 50px;
  font-size: 20px;
}
h5,h6{
  color: #ffff;
}
img,h5,h6{
  margin-left: 400px;
  margin-top: 20px;
}
/*  ------------------------------------------------------------------------*/
.Details1,.Details2,.Details3{
  /* height: 700px; */
}
.Details2,.Details3{
  display: none;
}
.details img, .details1 img,.details2 img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  transform: translate(120%,20%);
  border: 5px solid #ffff;
}
/*  -------------------------------------------*/
.content{
  margin: 40px;
  height:290px;
}
