/*--------------------root-------------------*/
*{
  margin: 0px;
  padding: 0px;
}
body{
  /* background-image: linear-gradient(#bdc2c9, #071a3a); */
  background-image: url(../images/login-back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* 2background-position: center; */
  opacity: 0.9;
}
/*  ==================================================================*/
#second-p,#third-p,#fourth-p,#fifth-{
  display: none;
}
#fifth-p{
  visibility: hidden;
}
.btn{
  height: 40px;
  width: 150px;
  color: #ffff;
  background-color:#999ea8;
  border: none;
  -border: 1px solid rgba(0,0,0,.1);
  box-shadow: 0 2px 0 rgba(0,0,0,.1)
  cursor: pointer;
  margin: 20px;
}
.btn:hover{
  box-shadow: 0 3px 4px rgba(0,0,0,.6);
}
