/*--------------------root-------------------*/
*{
  margin: 0px;
  padding: 0px;
}
body{
  /* background-image: linear-gradient(#bdc2c9, #071a3a); */
   background-image: url(../images/login-back.jpg); */
  background-size: cover;
  background-position: center;
  opacity: 0.9;
}
.container{
  /* background-color:#4f5d7a; */
  opacity: .9;
  -margin-top: 40px;

}
.details,.first{
  /* background-color:#4f5d7a; */
  /* height: 100%; */
}
.page1 img{
  height: 100px;
  width: 100px;
  border-radius: 50px;
  border: 3px solid #ffff;

}
/* ----------------------------------------------------------------------- */
.second,.third,.details1,.details2{
  /* display:none; */
}
.first,.second,.third{
  padding: 30px;
}
/*  ------------------------------------------------------------------------*/
.details{

}
.details img, .details1 img,.details2 img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  transform: translate(120%,20%);
  border: 5px solid #ffff;
}
/*  -------------------------------------------*/
.content{
  margin: 40px;
  height:290px;
}
